{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./src",
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "babel-plugin-styled-components"
  ]
}
