{
  "extends": ["react-app", "plugin:prettier/recommended", "prettier/react", "prettier/@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "plugins": ["prettier", "import"],
  "rules": {
    "import/no-unresolved": ["error", { "commonjs": true, "caseSensitive": true }]
  }
}
